/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
div.wp-block-schmitzoide-block-07 {
	input {
		all: unset;
		width: 100%;
		padding: 1rem;
		border: 1px solid #ccc;
	}
}
